extends layout 
block content

  #area-postagens
    each p in products
      .postagem
        h2 #{p.name}

        span.data-postagem R$ #{p.price}

        .product-image
          if p.imageUrl
            a(href="/products/#{p.id}")
              img(src=p.imageUrl)
          else
            a(href="/products/#{p.id}")
              | (sem imagem)

        a(href="/products/#{p.id}") Comprar

        a(href="/carrinho/add/#{p.id}")
          p Adicionar ao Carrinho


        //- h2 Lista de Produtos
        //-   table
        //-     thead
        //-       tr
        //-         th Nome
        //-         th Preço
        //-         th Imagem
        //-         th Estoque
        //-         th Ações
        //-     tbody
        //-       each p in products
        //-         tr
        //-           td= p.name
        //-           td R$ #{p.price}
        //-           td
        //-             if p.imageUrl
        //-               img(src=p.imageUrl, width="80") 
        //-             else
        //-               | (sem imagem)
        //-           td= p.name
        //-           td= p.stock
        //-           td
        //-             a(href="/products/#{p.id}") Ver
        //-             a(href="/products/#{p.id}/edit") Editar
                    
        //-             form(method="POST", action="/products/#{p.id}?_method=DELETE", style="display:inline")
        //-               button(type="submit", onclick="return confirm('Excluir?')") Excluir


    //-       h2 Notebook Gamer
    //-   span.data-postagem ACER
    //-   .product-image
    //-     img(src="/images/notebookgamer.jpg")
    //-   p Notebook gamer potente com hardware de última geração, perfeito para rodar jogos AAA com alta performance e mobilidade.
    //-   a(href="--") Comprar
    //-   a(href="--")
    //-     p Adicionar ao Carrinho

    //- .postagem
    //-   h2 PC Gamer
    //-   span.data-postagem PICHAU
    //-   .product-image
    //-     img(src="/images/pcgamer.jpg", alt="Produto")
    //-   p PC gamer de alto desempenho com placa de vídeo dedicada, ideal para jogos pesados e gráficos em ultra resolução.
    //-   a(href="--") Comprar
    //-   a(href="--")
    //-     p Adicionar ao Carrinho

    //- .postagem
    //-   h2 Headset Gamer
    //-   span.data-postagem HYPERX
    //-   .product-image
    //-     img(src="/images/headsetgamer.jpg")
    //-   p Headset gamer com som surround imersivo, microfone com cancelamento de ruído e conforto para longas sessões de jogo.
    //-   a(href="--") Comprar
    //-   a(href="--")
    //-     p Adicionar ao Carrinho

    //- .postagem
    //-   h2 Camiseta poliéster vermelha.
    //-   span.data-postagem RENNER
    //-   .product-image
    //-     img(src="/images/camisetavermelha.jpeg")
    //-   p Camiseta 100% poliéster, tamanhos variados.
    //-   a(href="--") Comprar
    //-   a(href="--")
    //-     p Adicionar ao Carrinho

    //- .postagem
    //-   h2 Calça Jeans
    //-   span.data-postagem LEVI'S
    //-   .product-image
    //-     img(src="/images/calcajeans.jpeg", alt="Produto")
    //-   p Calça Jeans, tamanhos variados.
    //-   a(href="--") Comprar
    //-   a(href="--")
    //-     p Adicionar ao Carrinho

    //- .postagem
    //-   h2 Bermuda Cargo
    //-   span.data-postagem OPHICINA
    //-   .product-image
    //-     img(src="/images/bermudacargo.jpg")
    //-   p Bermuda cargo estilosa e funcional, com múltiplos bolsos e tecido resistente, ideal para o dia a dia e aventuras ao ar livre.
    //-   a(href="--") Comprar
    //-   a(href="--")
    //-     p Adicionar ao Carrinho

    //- .postagem
    //-   h2 Colar de esmeralda   
    //-   span.data-postagem PANDORA
    //-   .product-image
    //-     img(src="/images/colaresmeralda.jpg")
    //-   p Colar de esmeralda deslumbrante, com pedra central vibrante que traz luxo e sofisticação a qualquer ocasião especial.
    //-   a(href="--") Comprar
    //-   a(href="--")
    //-     p Adicionar ao Carrinho

    //- .postagem
    //-   h2 Pulseira de pérola
    //-   span.data-postagem VIVARA
    //-   .product-image
    //-     img(src="/images/pulseiraperola.jpg", alt="Produto")
    //-   p Pulseira de pérola elegante e sofisticada, perfeita para adicionar um toque clássico e refinado ao seu visual.
    //-   a(href="--") Comprar
    //-   a(href="--")
    //-     p Adicionar ao Carrinho

    //- .postagem
    //-   h2 Brinco de pérola
    //-   span.data-postagem PANDORA
    //-   .product-image
    //-     img(src="/images/brincoperola.jpg")
    //-   p Brinco de pérola delicado e atemporal, ideal para complementar looks elegantes com um charme sutil e refinado.
    //-   a(href="--") Comprar
    //-   a(href="--")
    //-     p Adicionar ao Carrinho

  #area-lateral
    .conteudo-lateral
      h3 Categorias
      a(href="/categorias/roupas") Roupas
      br
      a(href="/categorias/eletronicos") Eletrônicos
      br
      a(href="/categorias/acessorios") Acessórios
