extends layout

block content
  .login-container
    .login-card
      // Logo/Header
      .login-header
        .logo-circle S
        h1 Bem-vindo ao ShopSmart!
        p Faça seu cadastro e em poucos instantes aproveite todos nossos benefícios

      // Login Form
      .login-form-card
        form#loginForm(method="post" action="/register")
          // Username Field
          .form-group
            label(for="usuario") Usuário
            .input-container
              span.input-icon
                img(src="../images/icons/do-utilizador.png", alt="")
              input#usuario(
                type="text" 
                name="usuario"
                id="usuario" 
                required 
                placeholder="Digite seu usuário"
              )

          // Password Field
          .form-group
            label(for="senha") Senha
            .input-container
              span.input-icon
                img(src="../images/icons/bloquear-alt.png", alt="")
              input#senha(
                type="password" 
                name="senha"
                id="senha" 
                required 
                placeholder="Digite sua senha"
              )

          // Submit Button
          button.submit-btn(type="submit") Entrar

          // Social Login
          .social-login
            .divider
              span Ou continue com
              .divider-line

            .social-buttons
              button.social-btn(type="button")
                span 📧
                | Google
              
              button.social-btn(type="button")
                span 📱
                | Facebook

        // Login Link
        .login-link
          p
            | Já tem uma conta? 
            a(href="/login") Faça login aqui

  script(src="/js/login.js")
  link(rel="stylesheet" href="../stylesheets/login.css")
